<%- include("partials/dashboardheader.ejs") %>
<div id="branch">
    <div class="branches">
        <h1><a href="/section">ECS</a></h1>
    </div>
    <div class="branches">
        <h1>CM</h1>
    </div>
    <div class="branches">
        <h1>IT</h1>
    </div>
    <div class="branches">
        <h1>CS</h1>
    </div>
    <div class="branches">
        <h1>AIDS</h1>
    </div>
    <div class="branches">
        <h1>EXTC</h1>
    </div>
    <div class="branches">
        <h1>ACT</h1>
    </div>
    <div class="branches">
        <h1>VLSI</h1>
    </div>
</div>
<%- include("partials/dashboardfooter.ejs") %>