<%- include("partials/dashboardheader.ejs") %>
<div id="sec">
    <div class="sections">
       <h1><a href="/theory">Theory</a></h1> 
    </div>
    <div class="sections">
        <h1><a href="/practical">Practical</a></h1>
    </div>
</div>
<%- include("partials/dashboardfooter.ejs") %>