<%- include("partials/rubricsheader.ejs") %>
    <h1>MSE(20 marks)</h1>
    <table id="rubricTable">
        <thead>
            <tr>
                <th>Roll Number</th>
                <th>Student Name</th>
                <th>Marks (Out of 20)</th>
            </tr>
        </thead>
        <tbody>
            <!-- Student rows will be populated here -->
             
        </tbody>
    </table>

    <!-- Pop-up for errors -->
    <div id="popup" class="popup">
        <span id="popupMessage"></span>
        <button onclick="closePopup()">Close</button>
    </div>

    <script src="js/mse.js"></script>
</body>
</html>